* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*include padding*/
    font-family: 'Merriweather', serif;
  }

  body {
    background-color: rgb(251, 107, 60);
  }

  .container {
    width: 80vw;
    max-width: 45em;
    background-color: whitesmoke;
    padding: 3.5em 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    box-shadow: 4px 4px 25px #7c1e01df;
  }

  .search-box {
    display: grid;
    gap: 1.25em;

  }

  .search-box input {
    grid-column: 1/3;
    font-size: 17.5px;
    padding-left: .65em;
    border: none;
    background-color: whitesmoke;
    border-bottom: 2.5px solid rgb(251, 107, 60);
    outline: none;
    color: rgb(56, 14, 0);
    width: 100%;
  }

  .search-box button {
    grid-column: 3/4;
    background-color: rgb(251, 107, 60);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    padding: 0.75em 0em;
    font-size: 15px;
    width: 100%
   
  }

  #result {
    padding-top: 1em;
  }

  .container .flag {
    display: block;
    width: 50%;
    min-width: 13em;
    padding: 1.5em 0em;
    margin: 0 auto;
  }

  .container h2 {
    padding-bottom: 20px;
    font-weight: 750;
    color: rgb(251, 107, 60);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .container h4 {
    display: inline;
    color: rgb(251, 107, 60);
  }

  .details {
    letter-spacing: .1px;
    font-weight: 300;
    list-style-type: none;
  }

  .details .info {
    margin-bottom: 18px;
  }

  .details .info span {
    color: rgb(10, 3, 1);
    font-weight: 500;
  }

  @media screen and (max-width: 767px) {
    .search-box input {
      font-size: 11px; /* Reduce font size for input */
    }
  
    .search-box button {
      font-size: 11px; /* Reduce font size for button */
      padding: 0.75em 1em; /* Increase button width */
    }

    .details {
        font-size: 14px; /* Reduce font size for .details */
      }
    
      .details .info {
        margin-bottom: 14px; /* Adjust margin */
        font-size: 12px; /* Reduce font size for .info */
      }

      .search-box input {
        padding-left: 0;
      }

      h3 {
        font-size: 11px;
      }

      .container h2 {
        font-size: 20px;
      }

  }